:root {
	--dhl-red: #D40511;
	--dhl-yellow: #FFCC00;
}

.dhl {
	display: flex;
	color: var(--dhl-red);
	background-color: var(--dhl-yellow);
	height: 200px;
	width: 600px
}

.boxMasse {
	margin: 1rem auto;
	border:2px solid var(--dhl-red);;
	border-radius: 5px;
	padding: 10px
}

.dhlButton {
	border: 2px solid var(--dhl-red);;
	color: #fff;
	background-color: var(--dhl-red);;
	margin: 5px;
	display: inline-flex;
	align-items: center;
	padding: .5rem 2rem;
	border: 2px solid #d1d1d1;
	border-radius: 0;
	cursor: pointer;
	outline: 0;
	font-weight: 500;
	white-space: normal;
	transition: color 200ms,background-color 200ms,border-color 200ms;
}
.dhlButton:hover {
	color: var(--dhl-red);;
	background-color: #fff;
	outline: 0;
	border-color: var(--dhl-red);;
}
#myform {
	padding: 1rem;
}
#mylist {
	width: 100%;
	height: 63%;
}
@media (max-width:600px) {
	.dhl {
		flex-direction: column;
		height: 40vh;
		width: 90vw;
		margin: 1rem 5vw;
	}
	.boxMasse {
		margin-left: 1rem;
	}
}
